.main-cool{
width: 100%;
height: 100vmin;
display: flex;
justify-content: center;
align-items: center;
}  

.main-CoolSlider{
    position: relative;
 /* width: 800px; */

 border: 1px solid black;
 /* padding: 10px; */
 overflow: hidden;

}
.CoolSlider{
 display: flex;
 height: 100%;

 position: absolute;
 transition: all 0.5s;
 width: auto;

}
.CoolSlider-slide{
    width: 100%;
    height: 100%;
   
}
.CoolSlider-slide img{
    /* width: 800px; */
    /* border: 1px solid hotpink; */
height: 100%;

}
.CoolSlider-btn{
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    font-size: 35px;
}
 .rightbtn{
    right: 0;
}
.dots{
    position: absolute;
    bottom: 0;

    /* border: 1px solid hotpink; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    border: 1px solid #ffffff40;
    padding: 4px;
    border-radius: 100%;
    margin: 3px;
}
.active-dot{
    background-color: #fff;
}