.navcard{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
width:280px
}
.navcard:hover p{

color: black;
}

.navcard:hover img{
    transition: all 0.5s;
 transform: scale(1.05);
}
.navcard img{
    width: 10vmax;

    margin-bottom: 2px;
}
.navcard>p:last-child{
   color:rgb(255 148 0);
   font-weight: bolder;
}
.navcard p{
    color: grey;
    
    font-weight: 600;
}