.videos{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 5px 60px;
}
.videos>div:hover{
    transition: all 0.5s;
    cursor: pointer;
    box-shadow:  6px 6px 15px rgba(53,53,53,0.363);

}
.videos>div:hover .playbtn{
    
    transition:all 0.5s;
    background-color: rgba(255, 255, 255, 0.435);
    background-blend-mode:darken
}
.videos>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playbtn{

    background-color: rgba(255, 255, 255, 0.226);

    border: 1px solid rgba(249, 205, 205, 0);
    border-radius: 100%;
    width: 100px;
    height: 100px;

}
.playbtn>img{
    width: 20px;
}
